*{
	margin:					0;
	padding:				0;
	font-size:				100%;
	text-decoration:		None;
	letter-spacing:			0;
}
html{
	height:					100%;
	border:					0;
	overflow:				Hidden;
}
body{
	margin:					0px;
	height:					100%;
	cursor:					Default;
}
/* --------------------------------------------------------------------------------------------- */
#id_header{
	background:				#FFFFFF Url("../frame_images/hdr_bg.gif") Repeat-x 0 Bottom;
	width:					100%;
	height:					42px;
	position:				Absolute;
	overflow:				Auto;
}
#id_header table{
	width:					100%;
	height:					36px;
	font-size:				0px;
}
#id_header table th{
	text-align:				Left;
	padding-left:			10px;
	vertical-align:			Middle;
	white-space:			Nowrap;
}
#id_header table th span{
	vertical-align:			Middle;
	font:					Bold 8pt "Tahoma";
	color:					#4687B4;
	margin-right:			20px;
	vertical-align:			Bottom;
}
#id_header table th img{
	vertical-align:			Bottom;
	cursor:					Pointer;
}
#id_header table td{
	text-align:				Right;
	vertical-align:			Middle;
	padding-right:			10px;
	white-space:			Nowrap;
}
#id_header #id_search{
	background:				Url("../frame_images/src_bg_out.gif") No-Repeat Left 0;
	_background:				Url("../frame_images/src_bg_out.gif") No-Repeat Left 0 Fixed;
	width:					190px;
	height:					15px;
	font:					Normal 8pt "Tahoma";
	vertical-align:			Middle;
	padding:				3px;
	border:					0px;
}
#id_header #id_search_button{
	background:				Url("../frame_images/src_btn.gif") No-Repeat;
	width:					32px;
	height:					21px;
	font:					Normal 8pt "Tahoma";
	cursor:					Hand;
	vertical-align:			Middle;
	margin-left:			-7px;
	cursor:					Pointer;
	border:					0px;
}
#id_header a.self{
	padding-right:			0px;
	margin-right:			10px;
	font:					Normal 8pt "Tahoma";
	color:					#0000FF;
}
#id_header a.self:hover{
	text-decoration:		Underline;
	cursor:					Pointer;
}
#id_header a.sub_window{
	padding-right:			15px;
	margin-right:			10px;
	font:					Normal 8pt "Tahoma";
	color:					#0000FF;
	background:				Transparent Url("../frame_images/hdr_a_sub_wnd.gif") No-repeat Right 50%;
}
#id_header a.sub_window:hover{
	text-decoration:		Underline;
	cursor:					Pointer;
}
#id_header img.header_vr{
	padding-right:			5px;
}
#id_header table td span{
	padding-right:			0px;
	margin-right:			10px;
	font:					Normal 8pt "Tahoma";
	color:					#808080;
}
/* --------------------------------------------------------------------------------------------- */
#id_body{
	position:				Absolute;
	top:					43px;
	overflow:				Auto;
	_overflow-x:			Hidden;
	width:					100%;
	background:				#F3F8FA;
	border-bottom:			Solid 1px #808080;
}
@media print{
	#id_header,#id_left,#id_footer{
		display:			None;
	}
	#id_body{
		position:			Static;
		overflow:			Visible;
		top:				0px;
		left:				0px;
		width:				100%;
		border-bottom:		None;
		!important;
	}
}
/* --------------------------------------------------------------------------------------------- */
table.link{
	margin:					0px;
	background:				#FAFAFA;
	border-top:				Solid 5px #EFEFEF;
	border-bottom:			Solid 5px #EFEFEF;
	font-size:				0;
}
table.link td.group{
	padding:				10px 5px;
	font:					Bold 8pt "Tahoma";
	background:				#EFEFEF;
	vertical-align:			Top;
	white-space:			Nowrap;
}
table.link td.category{
	padding:				10px 5px;
	vertical-align:			Top;
	width:					100%;
}
table.link td.category span{
	margin:					0px 10px;
	color:					#808080;
	font-size:				8pt;
}
table.link td.category a{
	color:					#0000FF;
	white-space:			Nowrap;
	font:					Normal 8pt "Tahoma";
}
table.link td.category a:hover{
	text-decoration:		Underline;
}
table.link td.category a img{
	border:					None;
	vertical-align:			Bottom;
	margin:					2px 3px 1px 0px;
}
/* --------------------------------------------------------------------------------------------- */
#id_toc{
	background:				#FFFFFF;
	padding-top:			10px;
}
#id_toc div.group{
	border-bottom:			Solid 5px #C0C0C0;
	padding:				0px 5px 0px 10px;
	margin:					25px 5px 0px 0px;
	font:					Bold 8pt "Tahoma";
	color:					#808080;
}
#id_toc h1{
	font:					Bold 8pt "Tahoma";
	background:				#FAFAFA Url("../frame_images/h1_bg.gif") No-repeat 4px 8px;
	border:					Solid 1px #C0C0C0;
	padding:				5px 5px 5px 15px;
	margin:					0px 5px 0px 10px;
}
#id_toc h1 table.h1{
}
#id_toc h1 table.h1 th{
	text-align:				Left;
}
#id_toc h1 table.h1 th span{
	white-space:			Nowrap;
}
#id_toc h1 table.h1 td{
	text-align:				Right;
	white-space:			Nowrap;
}
div.spacer{
	padding:				4px 0px 2px 10px;
	font:					Bold 8pt "Tahoma";
	border-left:			Solid 1px #C0C0C0;
	margin-left:			15px
}
#id_toc h2{
	padding:				4px 0px 2px 10px;
	font:					Bold 8pt "Tahoma";
	border-left:			Solid 1px #C0C0C0;
	margin-left:			15px
}
#id_toc h3{
	padding:				2px 0px 4px 35px;
	font:					Normal 8pt "Tahoma";
	border-left:			Solid 1px #C0C0C0;
	margin-left:			15px
}
#id_toc h4{
	padding:				2px 0px 4px 60px;
	font:					Normal 8pt "Tahoma";
	border-left:			Solid 1px #C0C0C0;
	margin-left:			15px
}
#id_toc h5{
	padding:				0px 0px 4px 85px;
	font:					Normal 8pt "Tahoma";
	border-left:			Solid 1px #C0C0C0;
	margin-left:			15px
}
#id_toc h6{
	padding:				0px 0px 4px 110px;
	font:					Normal 8pt "Tahoma";
	border-left:			Solid 1px #C0C0C0;
	margin-left:			15px
}
#id_toc h1 a,
#id_toc h2 a,
#id_toc h3 a,
#id_toc h4 a,
#id_toc h5 a,
#id_toc h6 a{
	color:					#0000FF;
	font-family:			"Tahoma";
}
#id_toc h1 a:hover,
#id_toc h2 a:hover,
#id_toc h3 a:hover,
#id_toc h4 a:hover,
#id_toc h5 a:hover,
#id_toc h6 a:hover{
	text-decoration:		Underline;
	cursor:					Pointer;
}
#id_toc img{
	border:					None;
	vertical-align:			Bottom;
}
#id_toc h1 table.h1{
	width:					Auto;
}
#id_toc h1 table.h1 td a{
	font-weight:			Normal;
}
#id_toc h1 table.h1 td img{
	margin-right:			5px;
	margin-left:			10px;
}
div.group_end{
	text-align:				Right;
	margin-right:			5px;
	margin-bottom:			10px;
	margin-left:			15px;
	padding-bottom:			5px;
	border-bottom:			Solid 1px #C0C0C0;
	border-left:			Solid 1px #C0C0C0;
}
div.bottom{
	text-align:				Right;
	margin-right:			10px;
	margin-bottom:			10px;
	margin-left:			15px;
	padding-bottom:			5px;
	border-top:				Solid 1px #C0C0C0;
}
div.bottom a{
	font:					Normal 8pt "Tahoma";
	color:					#0000FF;
	vertical-align:			Bottom;
}
div.bottom img{
	border:					None;
	vertical-align:			Bottom;
	margin-right:			5px;
}
div.h1{
	padding:				5px;
}
@media print{
	#id_toc h1 table.h1 td a{
		display:			None;
	}
	div.bottom a{
		display:			None;
	}
}
/* --------------------------------------------------------------------------------------------- */
#id_footer{
	background:				#EFEFEF;
	position:				Absolute;
	height:					20px;
	border-top:				Solid 1px #FFFFFF;
	font:					Normal 8pt "Tahoma";
	text-align:				Right;
	padding-top:			5px;
	font-size:				0px;
	overflow:				Auto;
}
#id_footer span{
	padding-right:			5px;
	font:					Normal 8pt "Tahoma";
	color:					#808080;
}
#id_footer a.self{
	padding-right:			0px;
	margin-right:			5px;
	font:					Normal 8pt "Tahoma";
	color:					#0000FF;
}
#id_footer a.self:hover{
	text-decoration:		Underline;
	cursor:					Pointer;
}
#id_footer a.sub_window{
	padding-right:			15px;
	margin-right:			10px;
	font:					Normal 8pt "Tahoma";
	color:					#0000FF;
	background:				Transparent Url("../frame_images/ftr_a_sub_wnd.gif") No-repeat Right 50%;
}
#id_footer a.sub_window:hover{
	text-decoration:		Underline;
	cursor:					Pointer;
}
#id_footer img{
	padding-right:			5px;
}
#id_footer table{
	width:					100%;
}
#id_footer table th{
	text-align:				Left;
	padding-left:			5px;
	white-space:			Nowrap;
}
#id_footer table td{
	white-space:			Nowrap;
}